@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.ellipse{
  position: absolute;
  top: 250px;
  left: -650px;
  width: 1512px;
  height: 982px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(103, 255, 90, 0.30) 0%, rgba(160, 97, 223, 0.00) 100%);
}

h1{
  color: #103318;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.92px;
}
h2{
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  color: #103318;
}

h3{
  font-size: 32px;
  font-style: normal;
  color: #103318;
}
a{
  color: rgb(24, 65, 22);
  padding-left: 3px;
  padding-right: 3px;
}