@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.ellipse{
  position: absolute;
  top: 250px;
  left: -650px;
  width: 1512px;
  height: 982px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(103, 255, 90, 0.30) 0%, rgba(160, 97, 223, 0.00) 100%);
}

h1{
  color: #103318;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.92px;
}
h2{
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  color: #103318;
}

h3{
  font-size: 32px;
  font-style: normal;
  color: #103318;
}
a{
  color: rgb(24, 65, 22);

}

.elemShadow{
  box-shadow: 0 8px 12px rgba(93,0,207,.08);
  transition: all 2s ease;
  -webkit-transition: all .4s ease;
}
.elemShadow:hover{
  filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
  transform: scale(1.01);
}
.carousel.carousel-slider .control-arrow:hover {
  background: none !important;
}

.carousel-slider{
  width: 100%;
  height: 600px;
  border-radius: 40px;
}
.carousel .thumb {
  border: none;
  border-radius: 9px;
  height: 50px;
  /* height: 50px;
  object-fit: contain; */
  padding: 0px !important;
}
.thumb img{
  object-fit: fill;
}
.carousel .thumb:hover {
  border: 0.5px solid rgb(135, 134, 134);
  
}
.carousel .thumb:active {
  border: 0.5px solid rgb(135, 134, 134);
  padding: 0px;
}

.carousel .thumb.selected  {
  border: 0.5px solid rgb(135, 134, 134);
} 
.shadowClass{
  box-shadow: 0px 4px 30px 7px rgba(2, 157, 20, 0.516);
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
}
.dropdown--extended{
  filter: drop-shadow(0 4px 10px rgba(0,0,0,.25));
  transform: scale(1.01);
}
